certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
colorzero==1.1
decorator==4.4.2
distro==1.5.0
gpiozero==1.6.2
idna==2.10
numpy==1.24.4
olefile==0.46
packaging==23.1
paho-mqtt==1.6.1
pasimple==0.0.2
Pillow==8.1.2
precise-runner==0.3.1
pulsectl==23.5.2
pvporcupine==2.2.1
pvporcupinedemo==2.2.2
pvrecorder==1.2.0
PyAudio==0.2.13
pycparser==2.21
python-apt==2.2.1
requests==2.25.1
RPi.GPIO==0.7.0
scipy==1.6.0
six==1.16.0
sounddevice==0.4.6
spidev==3.5
ssh-import-id==5.10
threadpoolctl==3.2.0
urllib3==1.26.5
